rect.cducsu {
    fill: #343434
}

rect.spd {
    fill: #cc0000
}

rect.fdp {
    fill: #ffe14e
}

rect.linke {
    fill: #9b31ab
}

rect.gruene {
    fill: #029e00
}

rect.afd {
    fill: #3ca4d2
}


.bar text {
    font-family: "Helvetica", serif;
    font-size:  11px;
    font-weight: bold;
    text-anchor: middle;
    text-align:  -webkit-center;
    fill: #121212;
}

.coalition g.left-bar rect, .coalition g.right-bar rect {
    stroke: #88ff8a;
    stroke-width: 3px;
}


.highlight g.left-bar rect, .highlight g.right-bar rect {
    opacity: 0.6;
}


#mySlider {
    width: 565px;
    transform: translate(26px, -5px);
}

