rect.cducsu {
    fill: #343434
}

rect.spd {
    fill: #cc0000
}

rect.fdp {
    fill: #ffe14e
}

rect.linke {
    fill: #9b31ab
}

rect.gruene {
    fill: #029e00
}

rect.afd {
    fill: #3ca4d2
}


.bar text {
    font-family: "Helvetica", serif;
    font-size:  11px;
    font-weight: bold;
    text-anchor: middle;
    text-align:  -webkit-center;
    fill: #121212;
}

.coalition g.left-bar rect, .coalition g.right-bar rect {
    stroke: #88ff8a;
    stroke-width: 3px;
}


.highlight g.left-bar rect, .highlight g.right-bar rect {
    opacity: 0.6;
}


#mySlider {
    width: 565px;
    transform: translate(26px, -5px);
}

h1 {
    font-family: "Helvetica", serif;
    font-size: 11px;
}

text.opp-info-text.upper{
    font-family: "Helvetica", serif;
    font-size: 10px;
    transform: translate(490px, 315px);
}

text.opp-info-text.lower{
    font-family: "Helvetica", serif;
    font-size: 10px;
    transform: translate(490px, 330px);
}

.coal-legend {
    transform: translate(493px, 290px);
}

.coal-legend rect {
    stroke: #88ff8a;
    stroke-width: 2px;
    fill: darkgrey;
}
.coal-legend text {
    transform: translate(18px, 10px);
    font-size: 10px;
    font-family: "Helvetica", serif;
}

